/* 我们的服务 */

.hg-innovate {
    background-color: #fff;
    text-align: center;

    h2 {
        font-size: 2em;
        margin: 20px 0;
    }
 
    .hg-innovate-item {
        background-color: #fff;

        h3 {
            font-size: 1.25em;
        }

        img {
            margin: 0 auto;
        }

        p {
            text-align: left;
        }
    }
    
}

