/* Banner图 */
.hg-banner-news {
  background: url(../images/banner_news.jpg) no-repeat center;
}
/* 联系方式 */
.hg-news {
  background-color: #f7f7f7;
  padding: 40px 0;
}
.hg-news h2 {
  margin: 0;
  font-size: 1.75em;
}
.hg-news .hg-news-item {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}
.hg-news .hg-news-item h3 {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 1.25em;
  color: #333333;
}
.hg-news .hg-news-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hg-news .hg-news-item ul li {
  height: 30px;
  line-height: 30px;
}
.hg-news .hg-news-item ul li:before {
  content: '•';
  color: #a9a9a9;
  margin-right: 8px;
}
.hg-news .hg-news-item ul li a {
  text-decoration: none;
  font-size: 0.875em;
  color: #333;
}
.hg-news .hg-news-item ul li a:hover {
  color: #001f3f;
}
/* 活动回顾 */
.hg-activity {
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  .hg-activity {
    padding: 10px 0;
  }
}
@media (min-width: 768px) {
  .hg-activity {
    padding: 20px 0;
  }
}
@media (min-width: 992px) {
  .hg-activity {
    padding: 40px 0;
  }
}
.hg-activity h2 {
  margin: 0;
  font-size: 1.75em;
}
.hg-activity .hg-activity-item {
  padding: 10px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}
@media (max-width: 768px) {
  .hg-activity .hg-activity-item {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .hg-activity .hg-activity-item {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .hg-activity .hg-activity-item {
    margin-top: 30px;
  }
}
.hg-activity .hg-activity-item h3 {
  font-size: 1em;
  font-weight: bold;
}
.hg-activity .hg-activity-item p {
  font-size: 0.75em;
}
